{% extends "comment/base.html" %}
{% load bootstrap %}
{% block content %}
<div class="container mt-3">
  {% if messages %}

      {% for m in messages %}
        <div class="alert {% if m.tags %}alert-{{m.tags}}{% endif %}">{{m}}</div>
      {% endfor %}

  {% endif %}
  <div class="card">
    <div class="card-header">
      Formulario de contacto
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors  %}
            <div class="alert alert-danger" role="alert">
              <strong>{{field.name}}: </strong>{{ error }}
            </div>
              
            {% endfor %}\
          {% endfor %}
        {% endif %}
        

        {{ form|bootstrap }}
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
    </div>
  </div>
  
</div>



{% endblock %}
    