{% extends "comment/base_user_account.html" %} {% comment %} Aprovechamos la el template del app comment {% endcomment %}
{% load bootstrap %}

{% block content %}



<div class="login-form">
    {% if form.errors %}
    {% include "comment/partials/alert.html" with msj="Usuario y/o contraseña invalidos por favor prueba de nuevo" tag="danger"  %}
    {% endif %}

    {% if user.is_authenticated %}
        {% include "comment/partials/alert.html" with msj="Estás autenticado" only  %}
    {% else %}
        {% include "comment/partials/alert.html" with msj="No estás autenticado" tag="warning"  %}
    {% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

             
                  
                     {{ form.username | bootstrap }}
                     {{ form.password | bootstrap }}
                  
                  <input type="submit" value="login" class="btn btn-success float-right">
                  <input type="hidden" name="next" value="{{ next }}">
            



</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>

{% endblock %}