{% extends "comment/base_user_account.html" %} {% comment %} Aprovechamos la el template del app comment {% endcomment %}
{% load bootstrap %}

{% block content %}



<div class="login-form">
    {% if form.errors %}
    <p>Usuario o contraseña invalidos por favor prueba de nuevo</p>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="alert alert-info">Estás auntenticado</div>
    {% else %}
        <div class="alert alert-info">No estás auntenticado</div>
    {% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

             
                  
                     {{ form.username | bootstrap }}
                     {{ form.password | bootstrap }}
                  
                  <input type="submit" value="login" class="btn btn-success float-right">
                  <input type="hidden" name="next" value="{{ next }}">
            



</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>

{% endblock %}