{% extends "comment/base_user_account.html" %} {% comment %} Aprovechamos la el template del app comment {% endcomment %}
{% load bootstrap %}

{% block content %}

{% if form.errors %}
<p>Usuario o contraseña invalidos por favor prueba de nuevo</p>
{% endif %}

{% if user.is_authenticated %}
    <p>Esas auntenticado</p>
{% else %}
    <p>Autengticate para entrar en el panel de control</p>
{% endif %}

<div class="login-form">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

             
                  
                     {{ form.username | bootstrap }}
                     {{ form.password | bootstrap }}
                  
                  <input type="submit" value="login" class="btn btn-success float-right">
                  <input type="hidden" name="next" value="{{ next }}">
            



</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>

{% endblock %}