{% extends "comment/base_user_account.html" %} {% comment %} Aprovechamos la el template del app comment {% endcomment %}
{% load bootstrap %}

{% block content %}


<div class="card mt-5">
    <div class="card-header">
        Contraseña cambiada con exito   
    </div>
    <div class="card-body">
        <p>Por favor inicia sesión</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm float-right" href="{% url 'login' %}">Login</a>
    </div>
</div>


{% endblock %}