{% extends "comment/base_user_account.html" %} {% comment %} Aprovechamos la el template del app comment {% endcomment %}
{% load bootstrap %}

{% block content %}



<div class="login-form">
    
<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}

             
                  
                     {{ form | bootstrap }}
                  
                  <input type="submit" value="Cambiar" class="btn btn-success float-right">
                  <input type="hidden" name="next" value="{{ next }}">
            



</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>

{% endblock %}